<nav class="navbar" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie Plan</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <!--<li *ngIf="!isAuth"><a (click)="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li *ngIf="isAuth"><a (click)="logout()">Logout</a></li>-->
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>